# Operating System Files

*.DS_Store
Thumbs.db

# VSCode

.vscode
.history

# Terraform

.terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.*
*.tfvars
lambdas.zip
plan.txt

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

# Nextflow

.nextflow
work
.nextflow.log*
.html*
