# Operating System Files

*.DS_Store
Thumbs.db

# VSCode files

.vscode
.history
.metals

# K8S
deployment/terraform/kubeconfig_*

# npm
package-lock.json
node_modules

# Other

pipeline-data/

__pycache__
*.egg-info
.ipynb_checkpoints
src/hyperspectral/notebooks/ECOSTRESS/*
src/hyperspectral/notebooks/data/*
src/pipeline/activator/aviris-l1/activator_utils/
src/pipeline/activator/aviris-l2/activator_utils/
src/pipeline/activator/prisma/activator_utils/
src/pipeline/activator/sentinel-s2/activator_utils/