{
   "Comment":"HSI Pipeline prototype",
   "StartAt":"ChoiceState",
   "States":{
      "ChoiceState":{
         "Type":"Choice",
         "Choices":[
            {
               "Variable":"$.eventSourceARN",
               "StringEquals":"${activator_queue_arn}",
               "Next":"ActivatorState"
            },
            {
               "Variable":"$.eventSourceARN",
               "StringEquals":"${processor_queue_arn}",
               "Next":"ProcessorState"
            }
         ],
         "Default":"FailureState"
      },
      "ActivatorState":{
         "Type":"Task",
         "Resource":"${batch_arn}",
         "Parameters":{
            "JobDefinition":"${activator_job_definition_arn}",
            "JobName":"ActivatorBatchJob",
            "JobQueue":"${queue_arn}",
            "Parameters.$":"$.parameters",
            "ContainerOverrides":{
               "Vcpus":1
            }
         },
         "InputPath":"$",
         "ResultPath":"$.status",
         "Next":"SuccessState"
      },
      "ProcessorState":{
         "Type":"Task",
         "Resource":"${batch_arn}",
         "Parameters":{
            "JobDefinition":"${processor_job_definition_arn}",
            "JobName":"ProcessorBatchJob",
            "JobQueue":"${queue_arn}",
            "Parameters.$":"$.parameters",
            "ContainerOverrides":{
               "Vcpus":1
            }
         },
         "InputPath":"$",
         "ResultPath":"$.status",
         "Next":"SuccessState"
      },
      "FailureState":{
         "Type":"Fail",
         "Error":"DefaultStateError",
         "Cause":"No module to process messages from this topic!"
      },
      "SuccessState":{
         "Type":"Succeed"
      }
   }
}
