{
    "image": "amazon/aws-cli",
    "vcpus": 1,
    "memory": 1024,
    "command": [
        "s3",
        "cp",
        "s3://aviris-data/test/f130329t01p00r06_corr_v1.tiff",
        "/tmp"
    ],
    "volumes": [
        {
            "host": {
                "sourcePath": "/media/ephemeral0"
            },
            "name": "ephemeral0"
        }
    ],
    "mountPoints": [
        {
            "containerPath": "/tmp",
            "readOnly": false,
            "sourceVolume": "ephemeral0"
        }
    ],
    "privileged": false
}
