{
    "image": "${image}",
    "vcpus": ${vcpus},
    "memory": ${memory},
    "environment": [
        {
            "name": "STAC_API_URI",
            "value": "${stac_api_uri}"
        }
    ],
    "volumes": [
        {
            "host": {
                "sourcePath": "/media/ephemeral0"
            },
            "name": "ephemeral0"
        }
    ],
    "mountPoints": [
        {
            "containerPath": "/tmp",
            "readOnly": false,
            "sourceVolume": "ephemeral0"
        }
    ],
    "privileged": false
}
