# Build Files

target
build/

# Eclipse Project Files

.classpath
.project
.settings

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependency-reduced-pom.xml
README.html

# Sublime files

*.sublime-workspace

# Metals

.metals
.bloop
metals.sbt

# SBT

.bsp

# Other

.#*
.lib
*.aux.xml
*.jar
*.crc

.cache
.settings
*.swp
*.swo

nohup.out
derby.log
metastore_db/
*.log
test-data
