docker.enabled = true

process.container = '513167130603.dkr.ecr.us-east-1.amazonaws.com/nasa-hsi-v2-nextflow:latest'
process.executor = 'awsbatch'
process.queue = 'queueNASAHyperspectral'
aws.region = 'us-east-1'

// NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
// aws.batch.cliPath = '/usr/local/bin/aws'
